<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="~/icon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="main-div">
        <div>
            @if (Session["user.Id"] != null)
            {
                <ul class="nav nav-pills pull-right">
                    <li>@Html.ActionLink("New Game", "NewGame", "Game", new { Id = Session["user.Id"] }, null)</li>
                    <li>@Html.ActionLink("History", "History", "Game", new { Id = Session["user.Id"] }, null)</li>
                    <li>@Html.ActionLink("Logout [" + Session["user.Name"] + "] ", "Logout", "Game")</li>
                </ul>
            }
            <h3>@ViewBag.Title</h3>
        </div>
        <hr />
        <div class="body-div">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fieldclick")
    @RenderSection("scripts", required: false)
</body>
</html>
